<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>左侧导航-{$Think.config.cms_name}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_left.css'>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  <script language="javascript">
  function show(url){
    location.href = url;
  }
</script>
  <base target="main" />
</head>
<body>
  <div class="menu">
{$sub_menu_html}
  </div>
<script language="javascript">
function showHide(id){
  $("#items"+id).toggleClass("none"); 
}

function sub_title(id) {
  var str = $('#a_'+id).text();
  window.top.$('#sub_current').html('');
  window.top.$('#sub_current').html(str);
}
</script>
</body>
</html>