<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>环境检测-{$Think.config.cms_name}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Admin/css/admin_style.css'> 
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<style>td{ height:22px; line-height:22px}</style>
</head>
<body>
<table width="98%" border="0" cellpadding="4" cellspacing="1" class="table">
  <tr class="table_title">
    <td colspan="2">系统环境检测：</td>
  </tr>
  <tr class="ji">
    <td width="200">主机名 (IP：端口)：</td>
    <td ><php>echo $_SERVER['SERVER_NAME'].' ('.$_SERVER['SERVER_ADDR'].':'.$_SERVER['SERVER_PORT'].')'</php></td>
  </tr>
  <tr class="ou">
    <td>程序目录：</td>
    <td>{$Think.config.web_path}</td>
  </tr>
  <tr class="ji">
    <td>Web服务器：</td>
    <td><php>echo $_SERVER['SERVER_SOFTWARE']</php></td>
  </tr>
  <tr class="ou">
    <td>PHP 运行方式：</td>
    <td><php>echo PHP_SAPI</php></td>
  </tr>
  <tr class="ji">
    <td>PHP版本：</td>
    <td><php>echo PHP_VERSION</php></td>
  </tr>
  <tr class="ou">
    <td>MySQL 版本：</td>
    <td><php>if (function_exists("mysql_close")) {
    		echo mysql_get_client_info();
        }else{
        	echo '不支持';
        }</php>&nbsp;&nbsp;</td>
  </tr>
  <tr class="ji">
    <td>GD库版本：</td>
    <td><php>
    	if(function_exists('gd_info')){
    	 	$gd = gd_info();
            echo $gd['GD Version'];
    	}else{
        	echo "不支持";
        }
        </php></td>
  </tr>
  <tr class="ou">
    <td>最大上传限制：</td>
    <td><php>if (ini_get('file_uploads')) {
    		echo ini_get('upload_max_filesize');
        }else{
        	echo '<span style="color:red">Disabled</span>';
    }</php></td>
  </tr>
  <tr class="ji">
    <td>最大执行时间：</td>
    <td><php>echo ini_get('max_execution_time')</php>秒</td>
  </tr>
  <tr class="ou">
    <td>采集函数检测：</td>
    <td><php>if (ini_get('allow_url_fopen')) {
    		echo '支持';
        }else{
        	echo '<span style="color:red">不支持</span>';
    }</php></td>
  </tr>     
</table>
<script>var version='{$Think.config.cms_var}';</script>
<include file="Index:footer" />
</body>
</html>