<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{$title} | {$Think.config.web_name}</title>

</head>
<body>
<br />
{$content}
<p><a href="__APP__/News/index.html" target="_blank">新闻列表模块</a></p>
<p><a href="__APP__/User/index.html" target="_blank">前台会员模块</a></p>
<p><a href="index.php/User/upload" target="_blank">头像上传模块</a></p>
<p><a href="__APP__/News/search" target="_blank">新闻搜索模块</a></p>
<p><a href="__APP__/Index/mail_form.html" target="_blank">邮件发送模块</a></p>
<p><br /></p>
<include file="Home:footer" />
</body>
</html>