<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{$title}</title>

</head>
<body>
<p><br /></p>
<form action="__URL__/send_mail" method="post">
  <p>收件人: <input type="text" name="mailto" /></p>
  <p>邮件标题: <input type="text" name="subject" /></p>
  <p>邮件内容: <textarea name="body" rows="6" cols="30"></textarea></p>
  <input type="submit" value="提交发送" />
</form>
<p><br /></p>
</body>
</html>