<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{$title}</title>
</head>
<body>

<p><br /></p>
   <div class="search">
     <h2 class="title">查询关键字</h2>
	 <form action="__APP__/News/result" method="post">
     <input type="text" name="keyword" id="search_box" />
	 <input class="button" type="submit" value="提 交" />
	 </form>
   </div>
<p><br /></p>

<include file="Home:footer" />
</body>
</html>