<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>{$title}</title>
<script language="JavaScript">
function fleshVerify(){
    //重载验证码
    var time = new Date().getTime();
        document.getElementById('verifyImg').src= '__URL__/verify/'+time;
}
</script>
<style type="text/css">
.login-text{ height:24px; left:24px; border:1px solid #e9e9e9;}
#verifyImg { height:22px; width:50px; vertical-align: middle;}
</style>
</head>
<body>
<p><br /></p>
<form method="post" name="login" id="form1" action="__URL__/checklogin">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
	<td align="left" colspan="2">
		<h3>欢迎使用网站通用后台管理系统</h3>
	</td>
</tr>
<tr>
	<td align="right">
		账号：
	</td>
	<td align="left">
		<input type="text" name="username" id="txtUsername" class="login-text"/>
	</td>
</tr>
<tr>
	<td align="right">
		密码：
	</td>
	<td align="left">
		<input type="password" name="password" id="txtPassword" class="login-text"/>
	</td>
</tr>
<tr>
	<td align="right">
		验证码：
	</td>
	<td align="left" valign="middle">
		<input type="text" id="inputCode" name="verify" class="login-text"/><img src="__URL__/verify/" id="verifyImg" title="点击刷新验证码" onclick="fleshVerify()"/>
	</td>
</tr>
<tr>
	<td align="center" colspan="2">
		<input type="submit" id="btnLogin" value="登陆" class="login-btn"/>
	</td>
</tr>
</tbody>
</table>
</form>
<p><br /></p>
<p> 没有帐号？<a href="__URL__/reg">点这里注册</a></p>
</body>
</html>