<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>验证码</title>
<script language="JavaScript">
function fleshVerify(){
    //重载验证码
    var time = new Date().getTime();
        document.getElementById('verifyImg').src= '!-APP-!/User/verify/'+time;
}
</script>
</head>
<body>
<br /></p>
<div style="heigh:60px; width:300px; margin:0 auto;">
验证码：<img src='!-APP-!/User/verify/' id="verifyImg" onclick="fleshVerify()" />
</div>
<p><br /></p>
</body>
</html>